<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BurnVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A12294CA1B2167E30021B342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12294E61B2167E30021B342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE57DC171B6709A500C3DB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE57DC211B6709A500C3DB10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
